@import 'reset.css';
@import 'aboutus.css';

/* General Styles */
a { color: inherit; }


nav ul { 
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 50px;
    border: 1px dashed purple;
}

nav ul li {
    flex: 1 1;
}

header { 
    color: #fff;
    background-color: #000;
    width: 100%;
    min-height: 250px;
}

header h1 {
    font-size: 55px;
    padding-top: 85px;
    margin-top:0px;
}