@import 'reset.css';
@import 'aboutus.css';
@import 'responsive.css';

/* General Styles */
a { 
    color: inherit; 
    text-decoration: none;
}

article {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 45px;
    padding: 10px 5px 5px 5px;
}

nav{
    padding: 0px 45px;
}

/* Header and navigation */
nav { 
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 3em;
}

nav a{
    flex: 1 1;
    border: 1px solid black;
    border-radius: 8px 8px 0px 0px;
    height: 100%;
}

nav a:hover {
    background-color: #b0b0b0;
}

nav a.active {
    background-color: #505050;
    border-bottom: none;
}

nav img {
    vertical-align: middle;
    padding-right: 10px;
}

header { 
    font-family: 'Bree Serif', serif;
    color: #fff;
    background-color: #032;
    width: 100%;
}

header > div {
    padding-top: 30px;
    padding-left: 45px;
    padding-bottom: 10px;
}

header div.title {
    font-size: 55px;
}

/* Footer */
footer {
    padding: 10px 45px;
}

footer > div:nth-child(2){ 
    text-align: right;   
}