/* non-prod styles */
nav, header, article, footer {
    border: 1px solid aqua;
}

/* General Styles */
body {
    width : 1200px;
    margin: 0 auto;
}

.outside-link {
    width: 10%;
    height: 10%;
}

li {
    list-style: none;
}

footer {
    padding-top: 10px;
}

a { color: inherit; }

/* Flexbox layout */
.wrapper {
    display: flex;
    flex-wrap: wrap;
}

header {
    flex: 0 0 100%;
}

nav {
    flex: 0 0 150px;
}

article {
    flex: 1 1;
}

footer { 
    flex: 0 0 100%;
    text-align: right;
}