@media (max-width: 800px){

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    header,
    article {
        order: 1;
    }

    nav, footer { 
        order: 2;
    }

    nav {
        flex-wrap: wrap;
    }
    nav div {
        flex: 0 0 100%;
        border: none;
    }
}