<nav>
    <ul>
        {% for menuItem in site.data.navigation.menu %} {% assign url = page.url|remove:'index.html' %}
        <li role="presentation" {% if url==menuItem.url %}class="active" {% endif %}>
            <a href="{{ menuItem.url }}">{{ menuItem.name }}</a>
        </li>
        {% endfor %}
    </ul>

     <a href="https://www.meetup.com/PEI-Developers"><img src="{{ site.baseurl }}/images/meetup.png" alt="meetup @ PEIDevs" class="outside-link"/></a>
        <a href="https://twitter.com/peidevs"><img src="{{ site.baseurl }}/images/twitter.png" alt="twitter @ PEIDevs" class="outside-link"/></a>
        <a href="https://github.com/{{ site.github_username }}"><img src="{{ site.baseurl }}/images/github.png" alt="peidevs on GitHub" class="outside-link"></a>
</nav>

<!-- below the main banner will be the navigation including links to about us, articles etc and then links to twitter, gh etc on the buttons -->
<!-- In a responsive nature, when the screen gets below XXpx, order the menu below the main content and make it 100% width. -->