---
layout: default
---

{{ content }}

<!-- From http://stackoverflow.com/questions/9278569/equals-heights-of-thumbnails -->
<!--<script type="application/javascript">
    function equalHeight() {
        var group = $(".thumbnail");
        var tallest = 0;
        group.each(function() {
            var thisHeight = $(this).height();
            if(thisHeight > tallest) {
                tallest = thisHeight;
            }
        });
        group.each(function() { $(this).height(tallest); });
    }

    $( document ).ready( equalHeight );
    $( window ).resize( equalHeight );
</script>-->
